@{
  Layout = "_Layout";
}

@model PierreTreat.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)</h3>

@if(Model.JoinEntries.Count == 0)
{
  <p>This flavor does not belong to any treats</p>
}
else
{
  <h4>Treats this flavor belongs to:</h4>


  <ul>
  @foreach(var join in Model.JoinEntries)
  {
    <li>@join.Treat.TreatName</li>
    @using (Html.BeginForm("DeleteTreat", "Flavors"))
    {
      @Html.Hidden("joinId", @join.TreatFlavorId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
<p>@Html.ActionLink("Add a treat", "AddTreat", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p> 