@{
  Layout = "_Layout";
}

@model PierreTreat.Models.Flavor

<h2>Edit</h2>

<h4>Edit this flavor's info: @Html.DisplayFor(model => model.FlavorName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.FlavorName)
    @Html.EditorFor(model => model.FlavorName)
    
    @Html.Label("Select a treat")
    @Html.DropDownList("TreatId") 

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>